/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* contents */

#shopping-list {
    margin: 30px;
    background-color: brown;
    color: white;
    max-width: 310px;
}

button {
    margin: 30px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: yellow;
    color: blue;
    font-weight: bold;
}